<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MaxiconfortEntities" connectionString="metadata=res://*/Entities.EntitiesMaxiconfort.csdl|res://*/Entities.EntitiesMaxiconfort.ssdl|res://*/Entities.EntitiesMaxiconfort.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DASTEEFRAN\SQLEXPRESS;initial catalog=Maxiconfort;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MaxiconfortEntities" connectionString="metadata=res://*/Entities.EntitiesMaxiconfort.csdl|res://*/Entities.EntitiesMaxiconfort.ssdl|res://*/Entities.EntitiesMaxiconfort.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EQUIPO\SQLEXPRESS;initial catalog=Maxiconfort;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>