<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!-- Conex Daniel -->
    <add name="MaxiconfortEntities" connectionString="metadata=res://*/Entities.EntitiesMaxiconfort.csdl|res://*/Entities.EntitiesMaxiconfort.ssdl|res://*/Entities.EntitiesMaxiconfort.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EQUIPO\SQLEXPRESS;initial catalog=Maxiconfort;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Conex Rendon -->
    <!--<add name="MaxiconfortEntities" connectionString="metadata=res://*/Entities.EntitiesMaxiconfort.csdl|res://*/Entities.EntitiesMaxiconfort.ssdl|res://*/Entities.EntitiesMaxiconfort.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEBASTIAN-PC\SQLEXPRESS;initial catalog=Maxiconfort;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Twelve.Maxiconfort.Facturacion.Properties.Settings.MaxiconfortConnectionString"
      connectionString="Data Source=EQUIPO\SQLEXPRESS;Initial Catalog=Maxiconfort;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="Twelve.Maxiconfort.Facturacion.Properties.Settings.MaxiconfortConnectionStringDaniel"
      connectionString="Data Source=DASTEEFRAN\SQLEXPRESS;Initial Catalog=Maxiconfort;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="Twelve.Maxiconfort.Facturacion.Properties.Settings.MaxiconfortConnectionStringDaniel"
      connectionString="Data Source=EQUIPO\SQLEXPRESS;Initial Catalog=Maxiconfort;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>